@model Dish

<div class="container">
    <h1>Yum, take a look at our tasty dishes</h1>
    <a href="/newDish">Add a Dish</a>
    <hr>
</div>
<div class="container">
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Chef</th>
            <th>Tastiness</th>
            <th>Calories</th>
        </tr>
        @{
            foreach(Dish d in ViewBag.AllDishes)
            {
            <tr>
                <td>@d.Name</td>
                <td>@d.Chef.FirstName @d.Chef.LastName</td>
                <td>@d.Tastiness</td>
                <td>@d.Calories</td>
            </tr>
            }
        }
    </table>
</div>